body {
  margin: 1in;
  padding: 0;
  background: #002728;
  font-family: Courier New;
  font-size: 18px;
  text-rendering: optimizeLegibility;
  font-weight: bold;
  color: #ccc;
}

#cursor {
  padding: 0;
  display:inline-block;
  color: #aaa;
  margin-bottom: -4px;
  border-bottom: #ccc solid 2px;
  width: 0.75em;
  height: 1em;
}
